<% words.each_with_index do |word, index| %>
  <div class="card" id="card_<%= dom_id(word) %>">
    <div class="card-body">
    	<button id="remove_word_<%= dom_id(word) %>" class="btn btn-danger fa fa-close delete-word">
	    </button>
	    <% if born %>
	      <h5 class="card-title" id="<%= dom_id(word) %>"><b><br/><%= word.aword + " " %></b><span class="badge badge-warning new-message">New</span></h5>
	    <% else %>
		    <h5 class="card-title" id="<%= dom_id(word) %>"><b>#<%= index + 1 %><br/><%= word.aword %></b></h5>
	    <% end %>
      <h6 class="card-subtitle mb-2 text-muted">created at <%= word.created_at.strftime("%B %d, %Y") %></h6>
      	<% word.meanings.each do |meaning| %>
      		<p class="card-text" id="<%= dom_id(meaning)%>"><i><%= meaning.describe %></i></p>
      	<% end %>
    </div>
  </div>
<% end %>

<div class="modal fade" id="destroyer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i>Are you sure you want to delete this word?</i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger affirm-del">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-word" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new word</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit-form">
          <div class="form-group">
            <label for="Word">Word</label>
            <input name="word" type="text" class="form-control" id="word_field">
          </div>
          <div class="form-group">
            <label for="Meaning">Meaning</label>
            <input name="meaning" type="text" class="form-control" id="meaning_field">
          </div>
          <button type="submit" class="btn btn-primary pull-right" id="edit-button">Edit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $("#edit-button").on('click', function(){
    debugger
  });
  $(".card").on('click', function(){
    $("#edit-word").modal('show');
    var card_id = $(this).attr('id')
    $.ajax({
      type: 'get',
      url: '/words/' + card_id,
        success: function(data) {
        $('#edit-word #word_field').val(data.word);
        $('#edit-word #meaning_field').val(data.meaning);
      }
    });
  });
	$(".affirm-del").on("click", function () { 
    $.ajax({
    type: 'delete',
    url: '/words/' + $(this).attr('id'),
      success: function(data) {
        $('#destroyer').modal('hide')
      }
    });
	});
	$(".delete-word").on("click", function () {
		$(".affirm-del").attr('id', $(this).attr('id'))
		$("#destroyer").modal('show')
	});
</script>